* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-family: 'Pretendard';
}

.result_container{
	position: relative;
	top:300px;
} 

.content_container > h2 {
    font-weight: 500;
    font-size: 14px;
    word-break: keep-all;
    margin-bottom: 30px;
}

.progress{
	background-color: rgb(68, 87, 191) !important;
	font-size: 20px !important;
	overflow: visible !important;
	margin-bottom: 10px;
}

.question{
	font-size: 16px !important;
	color: white;
}

.dbti_container {
    display: flex;
	flex-direction: column;
	background-color: rgb(68, 87, 191);
	width: 600px;
	height: 900px;
	margin: auto;
}

.content_container > h1 {
    font-weight: 500;
    font-size: 18px;
    word-break: keep-all;
    margin-bottom: 30px;
}
.content_container > h2 {
    font-weight: 500;
    font-size: 14px;
    word-break: keep-all;
    margin-bottom: 30px;
}

.answer_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: pre-line;
}

.content_container button {
    display: block;
    border: none;
    background-color: rgb(39, 50, 112);
    border-radius: 4.8rem;
    max-width: 250px;
    padding: 0 20px;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 24px;
    cursor: pointer;
    -webkit-tap-highlight-color : rgba(0,0,0,0) !important;
}

.content_container button:active {
    transform: scale(0.98);
    background: black;
}

.startbtn{
	margin: 30px 170px 30px;
}

.answer{
	margin: 20px;
}

.restart{
	margin-top: 20px;
}

.home{
	margin: 20px;
}

.test_container button + button {
    margin-top: 10px;
}

.content_container {
    display: none;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content_container.active{
    display: flex;
}

.point_text {
    color: deepskyblue;
    font-weight: 600;
    font-size: 30px;
}

.exp{
	color: white;
	font-size: 20px;
}