.mypage{
    display: flex;
    align-content: stretch;
    flex-direction: column;
    width: 300px;
    min-height: 100%;
    line-height: 2.1;
    background: #fff;
    color: rgb(0, 0, 0);
    position:relative ;
}

body{
	overflow-x: hidden;
	overflow-y: auto;
}

p{
	/*
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    */
   margin-bottom: 0rem;
}

.nickname{
    text-align: center;
}

.close{
    margin: 15px;
}

.cont{
	display: flex;
	position: absolute;	
	left: 300px;
	top: 75px;
}

a{
  text-decoration: none; /* 밑줄 제거 */
}