#email-check-modal {
    position: fixed;
    top: 0;
    left: 0;

	z-index: 1;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
  }

  #email-check-modal.show {
    display: block;
  }

  #email-check-modal-body {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 200px;
    padding: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
  }

  #email-check-close{
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	cursor: pointer;  
  }
  

#nick-check-modal {
    position: fixed;
    top: 0;
    left: 0;

	z-index: 1;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
  }

  #nick-check-modal.show {
    display: block;
  }

  #nick-check-modal-body {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 200px;
    padding: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
  }

  #nick-check-close{
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	cursor: pointer;  
  }
  